/* ELEMENTS */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #13131f;
}

footer {
  height: 120px;
  background-color: #13131f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CLASSES, IDS */

.nav-container {
  background-color: #13131f;
  border-bottom: 1px solid #005cbf;
  height: 100px;
  width: 100%;
  padding: 20px;
  position: fixed;
}

.nav-main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-main a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin: 10px;
  font-size: 14px;
}

.nav-brand {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile-container {
  background-color: #13131f;
  color: #fff;
  padding: 160px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar img {
  width: 150px;
  margin-bottom: 15px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro h1,
.intro span,
.intro p {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(30), fade-in 2s ease-in-out;
  opacity: 0; /* Tornar o texto inicialmente invisível */
  animation-fill-mode: forwards; /* Mantém o último estado da animação */
}

/* Adicione um atraso para cada elemento */
.intro h1 {
  animation-delay: 0s;
}

.intro span {
  animation-delay: 3s; /* Atraso de 4 segundos */
}

.intro p {
  animation-delay: 6s; /* Atraso de 8 segundos */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-title {
  margin: 0 0 0 0;
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 500;
}

.profile-title-name {
  color: #005cbf;
}

.profile-description {
  margin: 8px 0 0 0;
  font-size: 1.2rem;
  color: #828282;
  font-family: Dm Sans;
}

.actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 50px;
}

.actions button {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #005cbf;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  /* Efeitos ao passar o mouse */
  &:hover {
    background-color: #005cbf;
    transform: scale(0.95);
  }
}

.button-cv {
  background-color: #005cbf;
}

.button-down {
  background-color: #13131f;
}

#portfolio {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.portfolio-title {
  text-align: center;
  color: #fff;
  margin: 60px 0 10px 0;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc(100% - 40px);
  max-width: 420px;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px;
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.portfolio-item:hover {
  transform: scale(1.25); /* Aumenta o tamanho em 10% */
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10%;
}

.about p {
  color: #828282;
  font-size: 18px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.skills h2 {
  width: 100%;
  text-align: center;
}

.skills img {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: brightness(1);
}

.skills img:hover {
  transform: scale(1.2) rotateZ(calc(-5deg + 10deg * random()));
  filter: brightness(1.2);
}

.square-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.footer-title {
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}

.social-container img {
  width: 32px;
  height: 32px;
  margin: 10px;
}

@media (min-width: 576px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }

  .portfolio-item {
    width: 280px;
  }

  .nav-container {
    display: flex;
  }

  .nav-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-brand {
    font-size: 30px;
    margin-bottom: 0;
  }

  .menu-items li {
    font-size: 18px;
  }
}
