/* ELEMENTS */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #13131f;
}

footer {
  height: 120px;
  background-color: #13131f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CLASSES, IDS */

.nav-container {
  background-color: #13131f;
  height: 100px;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 100;

  border-bottom: 1px solid #005cbf;
}

.nav-main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-main a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin: 10px;
  font-size: 14px;
}

.nav-brand {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile-container {
  background-color: #13131f;
  color: #fff;
  padding: 160px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar img {
  width: 170px;
  margin-bottom: 15px;
  border-radius: 100px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(45deg, #005cbf, white);
  padding: 10px;
}

.profile-avatar img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

@keyframes zoomEffect {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.profile-avatar img {
  animation: zoomEffect 2s ease-in-out 7s 1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro h1,
.intro span,
.intro p {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30), fade-in 2s ease-in-out;
  opacity: 0; /* Tornar o texto inicialmente invisível */
  animation-fill-mode: forwards; /* Mantém o último estado da animação */
}

/* Adicione um atraso para cada elemento */
.intro h1 {
  animation-delay: 0s;
}

.intro span {
  animation-delay: 2s; /* Atraso de 4 segundos */
}

.intro p {
  animation-delay: 5s; /* Atraso de 8 segundos */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-title {
  margin: 0 0 0 0;
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 500;
}

.profile-title-name {
  color: #005cbf;
}

.profile-description {
  margin: 8px 0 0 0;
  font-size: 1.2rem;
  color: #828282;
  font-family: Dm Sans;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 50px;
}

.actions button {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #005cbf;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  /* Efeitos ao passar o mouse */
  &:hover {
    background-color: #3c7abb;
    transform: scale(0.95);
  }
}

.button-cv {
  background-color: #005cbf;
}

.button-down {
  background-color: #13131f;
}

#portfolio {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 150px;
  padding-top: 45px;
}

.portfolio-title {
  text-align: center;
  color: #fff;
  margin: 60px 0 10px 0;
  padding-top: 100px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  cursor: pointer;
  padding: 20px;
  min-width: 250px;
  margin: 2%;
}

.portfolio-item {
  width: 90%;
  height: auto;
  max-width: 640px;

  border-radius: 3px;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Poppins;
}

.project-description {
  width: 90%;
}

.actions-description {
  display: flex;
  flex-wrap: wrap;
}

.actions-description button {
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  height: 30px;
  min-width: 100px;
  color: #828282;
}

.actions-description button:hover {
  background-color: #13131f;
  cursor: pointer;
  border: 2px solid #005cbf;
}
.categorie-badge-container {
  display: flex;
}

.categorie-badge {
  background-color: rgba(64, 123, 255, 0.3);
  padding: 7px;
  border-radius: 10px;
  color: #407bff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.015em;
  height: 33px;
  margin-right: 10px;
  margin-bottom: 13px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10%;
  font-family: DM Sans;
}

.about h2 {
  color: #fff;
  margin: 0;
  font-size: 27px;
}

.about p {
  color: #828282;
  font-size: 18px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 150px 20px 20px 20px;
}

.skills h2 {
  width: 100%;
  text-align: center;
  color: #fff;
}

.skills img {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: brightness(1);
  cursor: pointer;
}

.skills img.clicked {
  transform-origin: center center;
  transform: rotate(0deg) scale(1);
  transition: transform 3s ease-in-out;
  z-index: 100;
  align-items: center;
}

.skills img.clicked {
  transform: rotate(360deg) scale(4);
  transform: scale(1.2) rotateZ(calc(-5deg + 10deg * random()));
  filter: brightness(1.2);
}

.square-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.footer-title {
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}

.social-container img {
  width: 32px;
  height: 32px;
  margin: 10px;
}

@media (min-width: 576px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }

  .nav-container {
    display: flex;
  }

  .nav-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-brand {
    font-size: 30px;
    margin-bottom: 0;
  }

  .menu-items li {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .profile-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10% 10% 0 10%;
  }

  .profile-title {
    font-size: 35px;
  }

  .profile-description {
    font-size: 18px;
    margin-top: 0;
  }

  .actions {
    flex-direction: row;
    padding-top: 20px;
  }

  .actions button {
    height: 35px;
    font-size: 12px;
  }

  .button-cv {
    margin-right: 10px;
  }

  .about {
    padding: 0% 15% 2% 15%;
  }

  .profile-avatar img {
    width: 250px;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;

    margin-bottom: 100px;
  }
}
